# Python
__pycache__/
*.pyc
*.pyo

# Model weights (too large for GitHub)
*.pt
*.onnx

# Uploaded videos & snapshots
backend/uploads/
backend/crash_snapshot.jpg

# Node
frontend/node_modules/

# Environment
.env
